:root{
    --first-color:#76c93b;
    --secnd-color:#f4c708;
    --third-color: #262931;
    --black-color:#000;
    --wht-color :#fff;
}
@font-face {
    font-family: sf-ult;
    src: url("../font/SFProDisplay-Ultralight.woff");
}
@font-face {
    font-family: sf-lt;
    src: url("../font/SFProDisplay-Light.woff");
}
@font-face {
    font-family: sf-md;
    src: url("../font/SFProDisplay-Medium.woff");
}
@font-face {
    font-family: sf-rg;
    src: url("../font/SFProDisplay-Regular.woff");
}
@font-face {
    font-family: sf-sb;
    src: url("../font/SFProDisplay-Semibold.woff");
}
@font-face {
    font-family: sf-bd;
    src: url("../font/SFProDisplay-Bold.woff");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
html{
    font-size: 10px;
}
body{margin: 0; padding: 0; font-family: 'Inter', sans-serif; font-size: 1.7rem;}

a,a:hover{
    transition: all 0.3s;
    text-decoration: none;
}

/************************
        Heading
************************/
.headline{
    position: relative;
    padding-left: 2.0rem;
}
.headline .ttl{
    font-size: 2.6rem;
    color: #5f626c;
    line-height:1;
    margin-bottom: .5rem;
}
.headline .sb-ttl{
    font-size: 4.2rem;
    font-weight: 600;
    line-height:1;
}
.headline:before{
    content: '';
    position: absolute;
    background-color: var(--secnd-color);
    height: .4rem;
    width: 200%;
    bottom: 1.0rem;
    left: -200%;
}
.headline:after{
    content: '';
    position: absolute;
    background-color: var(--secnd-color);
    width: .4rem;
    left: 0;
    height: 100%;
    top: 0;
}
.static-txt{
    margin-top: 2.0rem;
    padding-left: 2.0rem;
}
/* Common button */
.enroll a{
    width: 209px;
    padding: 1.5rem 0;
    text-align: center;
    display: inline-block;
    box-shadow: 0 .8rem 1.2rem rgba(118, 201, 59, 0.5);
    border-radius: .5rem;
    background-color: var(--first-color);
    color: var(--wht-color) !important;
    text-transform: uppercase;
}

/*********************
        Header
*********************/

header{
    padding: 2.0rem 0;
    background: url(../image/banner.jpg) no-repeat;
    background-size: cover;
}
header .top{
    display: flex;
    align-items: center;
}
header .get-app{
    float: right;
}
header .get-app a{
    display: inline;
    text-transform: uppercase;
    color: var(--third-color);
    border-bottom: 2px solid var(--first-color);
    font-weight: 600;
    letter-spacing: -0.54px;
}

.baner-text{
    padding: 6.0rem 0;
}
.baner-text .title{
    margin-top: 2rem;
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: -1.15px;
    line-height:4.0rem;
}
.baner-text .sb-title{
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 400;
    letter-spacing: -0.9px;
    color: #5f626c;
}
.baner-text .sb-title span{
    display: block;
    font-style: 2.6rem;
}
.baner-text .sb-title span em{
    color: var(--third-color);
    font-style: normal;
}
.baner-text .free-acceess{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 4rem;
    letter-spacing: -.102rem;
    line-height: 4rem;
    margin-bottom: 20px;
}
.baner-text .free-acceess .big{
    display: inline;
    /* font-size: 4.2rem; */
    font-weight: 600;
    color: var(--first-color);
}
.baner-text .free-acceess span{
    display: block
}
.baner-text .title span{
    display: block;
}
.baner-text .enroll{
    margin-top: 4rem;
}



.baner-text ul.chapter {
    margin: 0;
    padding: 0;
}
.baner-text ul.chapter li {
    list-style: none;
    background: var(--third-color);
    margin-bottom: 1.0rem;
    max-width: 264px;
    box-shadow: 0 2px 20px rgba(95, 98, 108, 0.1);
    border-radius: .5rem;
    border: 1px solid #e0e0e0;
    color: var(--wht-color);
    padding: 1.0rem;
    float: left;
    width: 100%;
}
.baner-text ul.chapter li:nth-child(even){
    margin-left: 3.0rem;
}
.baner-text ul.chapter li figure {
    width: 8.0rem;
    height: 8.0rem;
    background: var(--wht-color);
    border-radius: 10.0rem;
    float: left;
    margin: 0;
}
.baner-text ul.chapter li figure img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.baner-text ul.chapter li .content{
    float: left;
    width: calc(100% - 90px);
    margin-left: 1.0rem;
}
.baner-text ul.chapter li .content .ttl{
    font-size: 2.4rem;
    font-family: sf-rg;
}
.baner-text ul.chapter li .content .chapter,.baner-text ul.chapter li .content .quiz{
    font-family: sf-lt;
    letter-spacing: 1.4px;
}
ul.banner-ul {margin: 20px 0; padding: 0 0 0 20px;}
ul.banner-ul li {margin-bottom: 5px; font-weight: 500; padding-left: 10px;}


/**********************
        WHY
**********************/
.why{
    padding: 6.0rem 0;
}
.why .card{
    background-color: var(--third-color);
    color: var(--wht-color);
    max-width: 352px;
    width: 100%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    padding: 3.5rem;
    text-align: center;
    float: left;
    margin-bottom: 3.0rem;
    position: relative;
    margin-right: 3.0rem;
    margin-left: 8.0rem;
}
.why .card:nth-child(1):after{
    content: '';
    position: absolute;
    background: url(../image/down-arrow.png) no-repeat;
    width: 133px;
    top: 10.0rem;
    height: 9.8rem;
    right: -17.0rem;
}
.why .card:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
    margin-left: 0;
}
.why .card:nth-child(3):after{
    content: '';
    position: absolute;
    background: url(../image/top-arrow.png) no-repeat;
    width: 4.8rem;
    top: -13.0rem;
    height: 27.5rem;
    left: -6.0rem;
    margin-bottom: 0;
}
.why .card .ttl{
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}
.why .card figure{
    margin-bottom: 3rem;
    text-align: center;
margin-left: auto;
margin-right: auto;
}
.why .enroll{
    margin-top: 5.0rem;
}

/********************
        boast
********************/
.boast{
    padding: 5.0rem 0;
}
.boast .enroll{
    float: right;
}
.boast .slider .slick-list{
    padding:8.0rem 0 3.0rem 0;
}
.boast .slider .block{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    padding: 2.0rem;
    background-color: var(--third-color);
    color: var(--wht-color);
    margin-right: 3.0rem;
}
.boast .slider .block .profile-pic{
    position: relative;
    margin-top: -5.0rem;
}
.boast .slider .block .name{
    margin: 2.0rem 0 1.5rem 0;
    font-size: 2.6rem;
    line-height: 1;
    display: block;
}
/* .boast .slider .slick-dots{
    bottom: 20px;
} */
.boast .slider .slick-dots li button:before{
    font-size: 3.0rem;
}
.boast .slider .slick-dots li.slick-active button:before{
    color: var(--first-color);
}

/***********************
    keep-your-section
***********************/
.keep-your{
    margin: 5.0rem 0;
}
.keep-your .enroll{
    float: right;
}
.keep-your-section{
    padding: 10.0rem 0;
}
.keep-your-section .img-abs{
    position: absolute;
    right: 0;
}


/***********************
    Complete Syllabus
***********************/
.complete-syllabus{
    margin: 5.0rem 0;
}
.complete-syllabus .enroll{
    float: right;
}
.complete-syllabus-section{
    padding: 8.0rem 0;
}
.complete-syllabus-section .headline-blk{
    margin-bottom: 4.0rem;
}
.complete-syllabus-section .headline-blk .head{
    font-size: 2.8rem;
    font-family: sf-rg;
}
.complete-syllabus-section .head{
    font-size: 2.2rem;
    margin-bottom: 0rem;
    color: var(--third-color);
}
.complete-syllabus-section .sb-head{
    color: #5f626c;
    margin-bottom: 2.5rem;
    font-family: 'sf-lt';
}


/***********************
    Good Company
***********************/
.good-company{
    margin: 5.0rem 0;
}
.good-company-section{
    padding: 10.0rem 0 0 0;
    display: flex;
}
.good-company-section .block-right{
    border-radius: 1.5rem;
    background-color: var(--secnd-color);
    max-width: 50%;
    float: right;
    width: 100%;
    text-align: right;
    position: relative;
    padding:1.0rem 2.0rem;
    z-index: -1;
}
.good-company-section .block-right figure{
    position: relative;
    right: 0;
    margin-top: -8.0rem;
    margin-bottom: 1.0rem;
}
.good-company-section .block-right .name{
    font-weight: 600;
}
.good-company-section .block-left{
    margin-bottom: 10.0rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    border: 1px solid #e2e2e2;
    background-color: var(--wht-color);
    clear: both;
    float: left;
    max-width: 70%;
    padding: 4.0rem 6.0rem;
    text-align: right;
    margin-top: -3.0rem;
}
.good-company-section  .block-left .txt{
    margin-bottom: .5rem;
}

/* Even */
.good-company-section .even .block-right{
    border-radius: 1.5rem;
    background-color: var(--first-color);
    max-width: 50%;
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
    padding:1.0rem 2.0rem;
    z-index: -1;
}
.good-company-section .even .block-right figure{
    position: relative;
    left: 0;
    margin-top: -8.0rem;
    margin-bottom: 1.0rem;
}
.good-company-section .even .block-right .name{
    font-weight: 600;
}
.good-company-section .even .block-left{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    border: 1px solid #e2e2e2;
    background-color: var(--wht-color);
    clear: both;
    float: right;
    max-width: 70%;
    padding: 4.0rem 6.0rem;
    text-align: left;
    margin-top: -3.0rem;
    margin-bottom: 0;
}
.good-company-section .even .block-left .txt{
    margin-bottom: .5rem;
}


/********************
    what-waiting
********************/
.what-waiting{
    margin: 8.0rem 0 2.0rem 0;
}
.what-waiting .ttl{
    font-size: 3.6rem;
}
.what-waiting p{
    color: #5f626c;
    padding-right: 3.0rem;
    margin: 0;
}
.what-waiting .ftr-last {
    float: right;
    text-align: right;
}
.what-waiting .ftr-last .logos{
    width: 6.0rem;
    height: 6.0rem;
    background-color: var(--third-color);
    border-radius: 10rem;
    display: inline-block;
    margin-bottom: 1rem;
}
.what-waiting .ftr-last .support{
    display: inherit;
    width: 100%;
    color: #5f626c;
    font-size: 1.4rem;
}
.what-waiting .ftr-last .support a{
    color: var(--third-color);
    display: block;
    font-weight: 600;
}


.circel-block{
    width: 70rem;
    /* height: 100rem; */
    background-color: var(--third-color);
    /* max-width: 80%; */
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 5rem 10rem;
}

.circel-block .ttl{
    font-size: 3.0rem;
    color: var(--wht-color);
    margin-bottom: 2rem;
    font-family: sf-rg;
}
.circel-block .txt{
    color: var(--wht-color);
    text-align: center;
    max-width: 80%;
    margin: 0 auto 4rem auto;
    font-family: sf-rg;
}
button.close {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fff;
    background: var(--third-color);
    opacity: 1;
    border-radius: 100px;
    text-shadow: none;
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff;
}

button.close:before {
    display: none;
}
.circel-block .forms{
    max-width: 30rem;
    width: 100%;
    margin: 2rem auto;
}
.circel-block .forms .form-control{
    opacity: 0.7;
}
.circel-block .forms input[type="checkbox"]{
    float: left;
    margin-right: .5rem;
}
.circel-block .forms p{
    font-size: 1.4rem;
    margin: 0;
    color: var(--wht-color);
}
.circel-block .forms input[type="submit"]{
    opacity: 1;
    text-transform: uppercase;
}
.circel-block.register-block {
    padding: 20rem 18rem;
}

footer{
    font-size: 1.4rem;
    padding: 10px 0;
}

@media (max-width:767px){
    html{
        font-size: 45%;
    }
    .headline,.static-txt{
        padding-left: 4rem;
    }
    .headline:before{
        left:-195%
    }
    .headline:after{
        left:2rem
    }
    .why .card:nth-child(1):after,.why .card:nth-child(3):after{
        display: none;
    }
    .why .card{
        margin: 5rem 0 0 0;
    }
    .why .card:nth-child(2){
        top: 0;
        transform: inherit;
    }
    .boast{
        overflow-x: hidden;
    }
    .good-company-section .block-right{
        max-width: 90% !important;
        margin: 0 auto !important;
        float: inherit !important;
    }
    .good-company-section .block-left{
        max-width: 100% !important;
        margin-top: 0 !important;
    }
    .what-waiting{
        text-align: center;
    }
    .what-waiting .ftr-last{
        float: inherit;
        margin: 2rem auto;
        display: inline-block;
        text-align: center;
    }
    .baner-text{
        text-align: center;
    }
    .baner-text ul.chapter{
        margin-top: 4rem;
        margin-left: 2rem !important;
    }
    .desktop{display: none !important;}
    .mobile{display: block !important;}
    .enroll {
        margin: 2rem auto;
        clear: both;
        text-align: center;
        float: left !important;
        width: 100%;
    }
    .enroll a{
        color: var(--wht-color) !important;
    }
    .circel-block{
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
        left: 0;
        top: 0;
        position: fixed;
        transform: initial;
        padding: 5rem 15px !important;
    } 
    .circel-block .txt{
        max-width: 100%;
    }
    .circel-block .forms{
        max-width: 100%;
    }
    .form-control{
        padding: 1.4rem 2rem;
        font-size: 1.6rem;
        line-height: 1.4rem;
        height: 5rem;
    }
    .circel-block .ttl{
        text-align: center;
    }
}


.circel-block .txt {
    margin-bottom: 10px;
    max-width: 100%;
    }
    
    .circel-block .forms .form-control {
    height: 46px;
    width: 100%;
    opacity: 1;
    padding: 0 15px;
    font-size: 15px;
    color: #333;
    letter-spacing: 1px;
    }
    
    .circel-block .forms {
    max-width: 80%;
    margin: 0 auto;
    }
    .circel-block .forms input[type="text"],.circel-block .forms input[type="password"] {
        opacity: 0.6;
    }
    
    .circel-block .forms label.forgot, .circel-block .forms .signup {
    padding-top: 10px;
    text-align: left !important;
    color: #fff;
    }
    
    .circel-block .ttl {
    text-align: center;
    }
    
    .circel-block .forms input[type=submit] {
    background: #fff;
    border: 0;
    color: #333;
    }
    
    .circel-block .forms label.forgot a, .circel-block .forms .signup a {
    color: var(--first-color);
    }
    
    
    
    
    .circel-block span.success {
    color: red;
    font-size: 12px;
    text-align: center !important;
    }
    
    .circel-block ul.error {
    padding: 0;
    margin: 0;
    }
    
    .circel-block ul.error li {
    list-style: none;
    color:red;
    font-size: 12px;
    font-weight:normal;
    }
    
    .form-card {
    max-width: 450px;
    margin: 0 auto;
    }

.desktop{display: block;}
.mobile{display: none;}

.verfication {
    margin: 10px auto;
    background: #fff;
    padding: 5px 10px;
    color: #333;
    display: inline-block;
}
.flutterWhite{
    display:none; 
}

.form-group.remeberme label {
    color: #fff;
  }
  .form-group.remeberme input {
    margin-top: 3px;
  }

