:root{
    --primary-color:#6bc334;
    --secoundry-color:#414141;
    --tri-color:#5d5d5d;
    --lt-grey:#a0a0a0;
    --black-color:#010101;
    --wht-color :#fff;
}
@font-face {
    font-family: sf-ult;
    src: url("../font/SFProDisplay-Ultralight.woff");
}
@font-face {
    font-family: sf-lt;
    src: url("../font/SFProDisplay-Light.woff");
}
@font-face {
    font-family: sf-md;
    src: url("../font/SFProDisplay-Medium.woff");
}
@font-face {
    font-family: sf-rg;
    src: url("../font/SFProDisplay-Regular.woff");
}
@font-face {
    font-family: sf-sb;
    src: url("../font/SFProDisplay-Semibold.woff");
}
@font-face {
    font-family: sf-bd;
    src: url("../font/SFProDisplay-Bold.woff");
}

body{position: relative; font-family: sf-lt !important; color: var(--secoundry-color); font-size: 16px; background-color: #f7f7f7;}
a, button { transition: all 0.3s;}
a:hover{text-decoration: none;}
/* .container{max-width: 1170px;} */

header{background-image: linear-gradient(263deg, #6bc334 0%, #e5d429 100%);}
header nav a{color: var(--wht-color) !important; text-transform: uppercase;}
header nav .nav-item:hover, header nav .nav-item:hover a {background: var(--wht-color) !important; color: var(--primary-color) !important;}
header nav .nav-item.active a{border-bottom: 2px solid var(--wht-color);}
header nav ul.navbar-nav {display: flex; align-items: center;}
header nav ul.navbar-nav a.nav-link:after {display: none;}

header nav ul.navbar-nav a.nav-link:after {display: none;}
header nav ul.navbar-nav .nav-item.dropdown.show .dropdown-menu.show {right: 0px !important;}
header nav ul.navbar-nav .nav-item.dropdown.show .dropdown-menu.show a {font-size: 14px; color: var(--primary-color) !important; padding: 10px; display: inline-block;}
header nav ul.navbar-nav .nav-item.dropdown.show .dropdown-menu.show a i{margin-right: 10px;}

.wraper{box-shadow: 0 10px 25px rgba(0, 0, 0, 0.16); background-color: #f7f7f7; margin: 60px auto; padding: 40px;}
.wraper .title{font-size: 32px; line-height: 30px; margin-bottom: 30px;}
.wraper .card{position: relative; border-radius: 0; padding: 30px; margin-bottom: 15px; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); z-index:2}
.wraper .card a{color: var(--primary-color); display: inline-block;}
.wraper .card a.start-btn{background: var(--primary-color); color: var(--wht-color); padding: 5px 20px;}
.wraper .card .hd{font-size: 16px; font-family: sf-sb;}
.wraper .card .sb-hd{font-size: 16px; font-family: sf-rg; color: #868686;}
.wraper .card .test {font-size: 32px; line-height: 40px; }
.wraper .card .test span {color: var(--primary-color); display: block;}
.wraper .card.mb40{margin-bottom: 40px;}
.wraper .qz {position: relative; color: var(--primary-color); margin-bottom: 40px !important; display: inline-block;}
.wraper .qz:before {position: absolute; left: 0; bottom: -10px; background: #e5d42f; width: 30px;
    height: 4px;    content: '';}
.wraper .p0{padding: 0;}
.wraper .card .hd1{font-size: 20px; line-height: 30px; font-family: sf-lt; background-color: #f6f6f6; margin-bottom: 15px; padding:15px 20px;}
.wraper .table-wrap{padding: 15px;}
.wraper .table-wrap .table {display: table;}
.wraper .table-wrap .table .table-row{display: table-row;}
.wraper .table-wrap .table .table-row .table-cell{display: table-cell; padding: 10px; border-top: 1px solid #efefef; border-bottom: 0;}
/* Table Border Css */
.bor-rt{border-right: 1px solid #efefef;}
.bor-lt{border-left:1px solid #efefef;}
.wraper .table-wrap .table .table-row:last-child .table-cell {
    border-bottom: 1px solid #efefef;
}


.wraper .card ul.subjects {    margin: 15px 30px;    padding: 0;}
.wraper .card ul.subjects li {list-style: none;position: relative;border: 1px solid #e0e0e0;border-radius: 5px;margin-bottom: 10px;margin-left: 30px;float: left;width: calc(100% - 30px);}
.wraper .card ul.subjects li figure {    margin: 0;    padding: 0;    border: 1px solid var(--primary-color);    float: left;    padding: 12px;    border-radius: 100px;    margin-left: 0;    background: var(--wht-color);    margin-right: 10px;    margin-left: -30px;}

.wraper .card .cotnent {width: calc(100% - 65px);float: left;}

.wraper .card .cotnent .name {    font-size: 24px; margin-bottom:10px}
.wraper .card .cotnent .chapter {    float: left; font-size: 14px; letter-spacing: 1.4px; text-transform:uppercase;}
.wraper .card .cotnent .chapter span { color: var(--tri-color);  font-family: sf-bd;}
.wraper .card .cotnent .quiz {    float: right; font-size: 14px; letter-spacing: 1.4px; text-transform:uppercase;}
.wraper .card .cotnent .quiz span {  color: var(--tri-color); font-family: sf-bd;}

.wraper .card .percent{margin: 0 0 20px 0;}
.wraper .card .percent .waterdrop{width: 50px; height: 50px; background-color: #6bc334; border-radius: 50%; border-top-right-radius: 0; transform: rotate(-45deg); float: left;}
.wraper .card .percent .waterdrop span {transform: translate(-50% , -50%) rotate(45deg) !important; position: absolute; left: 50%;
top: 50%; color: #fff;}
.wraper .card .percent .waterdrop.yellow{background-color: #e5d429;}

.wraper .card .rating{margin: 20px 0;}
.wraper .card .rating .blk1 {margin-bottom: 10px;}
.wraper .card .rating .blk1 .txt {font-size: 12px; letter-spacing: 1px;}
.wraper .card .rating .blk1 .percent {font-size: 13px; margin-left: 10px; line-height: 1; color: #999;}
.wraper .card .rating .blk1 span.fa-heart{color: #e0e0e0;}
.wraper .card .rating .blk1 span.fa-heart.checked{color: var(--primary-color);}
.wraper .card .rating .blk1 span.fa-heart.checked.yellow{color: #e5d429;}


.wraper .card .random {margin: 20px 0;}
.wraper .card .random .blk{float: left; width: 100%; margin-bottom: 15px;}
.wraper .card .random figure {margin: 0; padding: 0; float: left; background: var(--primary-color); border-radius: 100px;
    text-align: center; padding: 7px 11px; margin-right: 7px;}
.wraper .card .random .bar{float: left; width: calc(100% - 50px);}
.wraper .card .random .bar .wrap{line-height: 1;}
.wraper .card .random .bar .wrap .progress{width: calc(100% - 45px); float: left;}
.wraper .card .random .bar .wrap .value{width: 35px; float: right; font-size: 9px; color: #999; margin-top: -6px;}
.wraper .card .random .bar .name{font-size: 12px; text-transform: uppercase; letter-spacing: 1px;}
.wraper .card .random .bar .progress{height: 3px; clear: both; float: left; width: 100%; margin-bottom: 8px;}
.wraper .card .random .bar .progress .progress-bar{background-color: var(--primary-color) !important;}
.wraper .card .random .bar .progress .yellow{background-color: #e5d429 !important;}


.wraper .card .subjects-section{}
.wraper .card .subjects-section figure{margin: 0; padding: 0; border: 1px solid var(--primary-color); float: left; padding: 12px; border-radius: 100px; margin-left: 0; background: var(--wht-color); margin-right: 20px;}
.wraper .card .subjects-section .contant{width: calc(100% - 95px);float: left;}
.wraper .card .subjects-section .contant .name {display: block; font-size: 24px; margin-bottom:10px; line-height: 1;}
.wraper .card .subjects-section .contant .chapter {display: block; font-size: 14px; letter-spacing: 1.4px; margin-bottom: 10px; text-transform:uppercase;}
.wraper .card .subjects-section .contant .chapter span { color: var(--tri-color);  font-family: sf-bd;}
.wraper .card .subjects-section .contant .quiz {display: block; font-size: 14px; letter-spacing: 1.4px; text-transform:uppercase;}
.wraper .card .subjects-section .contant .quiz span {  color: var(--tri-color); font-family: sf-bd;}

.wraper .card.shadows{box-shadow: 0 2px 20px rgba(107, 195, 52, 0.31) !important; border: 1px solid #e0e0e0;}

.wraper .back-btn{color: var(--primary-color); font-size: 36px; float: left; margin-right: 30px;}
.wraper .table-wrap-big .table {display: table; background: var(--wht-color);}
.wraper .table-wrap-big .table .table-row{display: table-row;}
.wraper .table-wrap-big .table .table-row .table-cell{display: table-cell; padding:20px 10px; letter-spacing: 1.4px; border: 1px solid #efefef; border-bottom: 0;}
.wraper .table-wrap-big .table .table-row .table-cell .ttl{font-size: 18px; font-family: sf-bd; }
.wraper .table-wrap-big .table .table-row .table-cell a{color: var(--primary-color); }
.wraper .table-wrap-big .table .table-row .table-cell a.start-btn{background: var(--primary-color); color: var(--wht-color); padding: 5px 20px;}
.wraper .table-wrap-big .table .table-row .table-cell .score{font-size: 12px;color: #868686;}
.wraper .table-wrap-big .table .table-row .table-cell .score i{margin-left: 10px; line-height: 1; color: var(--primary-color); font-size: 19px; font-family: sf-bd; font-style: initial;}
.wraper .table-wrap-big .table .table-row .table-cell .score i.yellow{color: #e5d429;}
/* Table Border Css */
.wraper .table-wrap-big .table .table-row:last-child .table-cell {
    border-bottom: 1px solid #efefef;
}


.wraper .ac-card .table-wrap-big .table {display: table; background: transparent;}
.wraper .ac-card .card-body{padding: 0 10px;}
.wraper .ac-card .card-header h2 {font-size: 18px;}
.wraper .ac-card .card-header h2 button {color: #333 !important;}
.wraper .ac-card .card-header {background: var(--wht-color); border: 1px solid #efefef; padding: 0;}
.wraper .ac-card .card-header button{padding: 15px; display: block; width: 100%; text-align: left;}
.wraper .ac-card .card-header h2 button.btn.btn-link i {float: right; transform: rotate(90deg); transition: all 0.3s; font-size: 24px; color: var(--primary-color);}
.wraper .ac-card .card-header h2 button.btn.btn-link.collapsed i{   transform: rotate(0deg); }
/* Footer */
footer{background:#efefef; text-align: center; margin: 0; padding: 20px 0; color: var(--secoundry-color);}


.start-quiz{color: #868686; padding: 50px;}
.start-quiz p{margin-bottom: 20px; line-height: 30px; letter-spacing: 0.5px;}
.start-quiz .indicator{margin: 0 0 20px 0; padding: 0;}
.start-quiz .indicator li{list-style: none; margin-bottom: 10px;}
.start-quiz .table-width{width: 400px; font-size: 14px;}
.start-quiz .table-width th:nth-child(even){background-color: #e0e0e0;}
.start-quiz .table-width th,.start-quiz .table-width td{ border:1px solid #e0e0e0; text-align: center; line-height: 30px; font-family:sf-lt ;}
.start-quiz .table-width .orange{color: #fa6e1b;}
.red{color: #e20023;}
.green{background-color: #83c666; width: 10px; height: 10px; display: inline-block; margin-right: 10px;}
.dk-red{background-color: #d7695d; width: 10px; height: 10px; display: inline-block; margin-right: 10px;}
.white{border: 1px solid #e0e0e0; background-color: #ffffff; width: 10px; height: 10px; display: inline-block; margin-right: 10px;}
.lt-blue{background-color: #83cee9; width: 10px; height: 10px; display: inline-block; margin-right: 10px;}
.dk-blue{background-color: #5291cc; width: 10px; height: 10px; display: inline-block; margin-right: 10px;}
a.start-btn {padding: 10px 30px; color: #fff; background: var(--primary-color); margin: 20px 0; display: inline-block; letter-spacing: 1.8px;}


.filter-title{font-size: 14px; letter-spacing: 2.8px; line-height: 1; text-transform: uppercase; margin-bottom: 10px;}
.filter ul{margin: 0; padding: 0;}
.filter ul li{list-style: none; float: left; font-size: 12px; letter-spacing: 0.5px; line-height: 24px; position: relative; text-transform: uppercase; background: #fff; border: 1px solid #e0e0e0; margin-right: 20px; padding: 0 5px 0 20px;}
.filter ul li:last-child {margin-right: 0;}
.filter ul li .badge {background: #e0e0e0; border-radius: 100px; width: 26px; height: 26px; align-items: center; flex-wrap: wrap; left: -10px; position: absolute; top: -1px; text-align: center; display: inline-grid;}
.filter ul li .badge.gren{background-color:#57ed7f;}
.filter ul li .badge.dk-red{background-color: #e29595;}
.filter ul li .badge.dk-pl{background-color: #a1aff7;}
.filter ul li .badge.mix{background-image: linear-gradient(#57ed7f 50%, #a1aff7 51%);}

.qz-timer-links {margin: 0;padding: 0; width: 100%; overflow-x: auto;}
.qz-timer-links ul {margin: 0; padding: 0; width: 100%;}
.qz-timer-links ul:before {content: '';position: absolute;width: calc(100% - 15px);height: 1px;background: #e29595;left: 15px;top: 50%;}
.qz-timer-links ul li {list-style: none; float: left;}
.qz-timer-links ul li .progressbar .circle {width: 30px; height: 30px;  margin: 10px 5px 10px; display: inline-block; position: relative; text-align: center; line-height: 1.2;}
.qz-timer-links ul li .progressbar .circle canvas{width: 30px !important; height: 30px !important; background-color: #e4e4e4; border-radius: 100px; vertical-align: top;}
.qz-timer-links ul li .progressbar .circle strong {position: absolute; top: 50%; left: 50%; text-align: center; font-size: 12px; color: black; transform: translate(-50%,-50%);}
.qz-timer-links ul li .progressbar .circle span.num {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 13px;}
.qz-timer-links ul li .progressbar.active .circle canvas {background-color: #fff; transform: scale(1.2);}/*background-color: #e5d429;*/
.qz-timer {background: #5d5d5d; color: #fff; padding: 5px 20px; border-radius: 100px; margin: 0 auto;}
.row.bor {margin-right: 0; margin-left: 0; margin-bottom: 30px;}
.row.bor .col-md-3, .row.bor .col-md-9 {border: 1px solid #efefef; align-items: center; display: flex;
    padding: 5px; text-align: center;}


.mb30{margin-bottom: 30px !important;}
.questions{min-height: 180px; max-height: 180px; overflow-y: auto; padding-right: 10px;}
/* width */
.questions::-webkit-scrollbar {    width: 5px;  }
/* Track */
.questions::-webkit-scrollbar-track {    background: #f1f1f1;   }
/* Handle */
.questions::-webkit-scrollbar-thumb {    background: #888;   }
/* Handle on hover */
.questions::-webkit-scrollbar-thumb:hover {    background: #555;   }



/* Answers */
.ans{display: block; margin: 25px 0;}
.ans ul{margin: 0; padding: 0;}
.ans ul li{list-style: none; display: block; font-family: sf-md; color: #5d5d5d; position: relative; padding:25px 15px; border:1px solid #efefef; letter-spacing: 1px; transition: all 0.3s;}
.ans ul li input{ cursor: pointer !important; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;}
.ans ul li:hover {color:var(--primary-color)}
.ans ul li:hover strong,.ans ul li.active strong,.ans ul li.active {color: var(--primary-color); border-color: var(--primary-color);}
.ans ul li strong{transition: all 0.3s; margin-right: 15px; border: 1px solid #efefef; border-radius: 100px; width: 30px; height: 30px;
display: flex; flex-wrap: wrap; float: left; align-items: center; text-align: center; justify-content: center;}

.action{width: 100%; display: block; float: left;}
.action .left{float: left;}
.action .left ul,.action .right ul{margin: 0; padding: 0;}
.action .left ul li,.action .right ul li{list-style: none; float: left; border: 1px solid #ccc; padding: 10px 20px; margin-right: 20px;}
.action .left ul li label {margin: 0 0 0 10px; padding: 0;}

.mb0{margin-bottom: 0 !important;}

.action .right{float: right;}
.action .right i{font-size: 20px;}
.action .right i.fa-angle-left{margin-right: 10px;}
.action .right i.fa-angle-right{margin-left: 10px;}

.result-title{font-size: 32px; color: #434141; font-family: sf-bd; margin-bottom: 20px;}
.result-title span{font-family: sf-rg; margin-left: 10px;}


.repeat-result { margin-bottom: 30px;}
.pb50{padding-bottom: 50px !important;}
.repeat-result .result-stick{position: absolute; left: 0; bottom: 0; font-size: 13px; padding: 10px 40px; width: 100%; background-color: #f7f7f7;}
.repeat-result .result-stick span {margin-right: 30px;}
.repeat-result .result-stick span i{color: var(--primary-color); font-style: normal;}
.repeat-result .result-stick .time-taken{color: var(--primary-color);}


.repeat-result  .explanation{max-width: 98%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); padding: 5px 10px; margin: -1px auto; background-color: #eaeaea; z-index: 0; position: relative;}
.repeat-result  .explanation .title{font-size: 14px; font-family: sf-bd; margin: 0;}
.repeat-result  .explanation p{font-size: 14px; color: #5d5d5d; margin: 0;}

.bor-rt{border-right: 5px solid #efefef;}

.score-blk{}
.score-blk {margin: 0 0 20px 0; padding: 0 0 20px 0; display: flex; flex-wrap: wrap; border-bottom: 5px solid #efefef;}
.score-blk li{list-style: none; float: left; margin-bottom: 10px; padding: 20px; background: #fff; text-align: center; border: 1px solid #e0e0e0; width: 49%; margin-right: 2%;}
.score-blk li:first-child{width: 100%; margin-right: 0;}
.score-blk li:nth-child(odd){margin-right: 0;}
.score-blk li .ttl{font-size: 18px; color: #868686; line-height: 18px; margin-bottom: 10px;}
.score-blk li .ttl span{display: block;}
.score-blk li .score{color: #d60000; font-size: 28px; font-family: sf-md;}
.score-blk li .blue{color: #00c3bb;}
.score-blk li .drk-blue{color: #5c61e0;}
.score-blk li .grn{color: #449512;}
.score-blk li .orange{color: #fa6e22;}

.analysis .ttl {margin-bottom: 10px; font-size: 14px; font-weight: 500; letter-spacing: 2.8px;
    line-height: 30px; text-transform: uppercase;}
.analysis .chart{margin-bottom: 15px; border-bottom:2px solid #efefef; padding-top:0}


/* Media Query */
@media (max-width:767px){
    .container{max-width: 100% !important;}
    body{overflow-x: hidden;}
    .wraper{padding: 40px 10px; box-shadow: none; margin: 0px auto;}
    .wraper .table-wrap .table .table-row{display: block; margin-bottom: 20px;}
    .wraper .table-wrap .table .table-row .table-cell{border: 1px solid #efefef; display: block;}
    a.start-btn{margin: 0;}
    .wraper .card ul.subjects{margin: 15px;}
}

 .ans ul li.wrong {
    border-color: red;
    color: red;
}

.wraper .card.start-quiz {
    display: block;
    }
    
    .wraper .card.start-quiz td {
    padding: 5px 15px;
    }

    .show-over{
        overflow-x:auto; 
    }

   /* Referral page css  */
   section.referral_lst_page {
    padding: 70px 0;
    background: #fff;
    }
    
    h1.referral_heading {
    font-size: 28px;
    color: #262931;
    font-weight: 400;
    margin-bottom: 24px;
    }
    
    .table_referral {
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    margin-bottom: 50px;
    }
    
    .table_referral th {color: #262931 !important;/ font-family: Inter; /font-size: 14px !important;font-weight: 500 !important;letter-spacing: 0.45px;line-height: 32px;text-transform: uppercase !important;}
    
    .table_referral td {
    color: #5f626c;
    / font-family: Inter; /
    font-size: 17px;
    font-weight: 400;
    padding: 7px 20px !important;
    }
    
    .clr_green {
    color: #76c93b;
    }
    
    .clr_disable {
    color: #e6e6e6;
    }
    
    a.referral_resend {
    color: #76c93b;
    padding-left: 10px;
    }
    
    .referral_text {
    color: #76c93b;
    font-size: 17px;
    }
    
    span.ref_copy_img {
    padding-left: 30px;
    }
    
    .copy_text_group {
    margin-bottom: 40px;
    }
    
    input.ref_custom_input {
    border-radius: 2px;
    height: 42px;
    background-color: #efefef;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: #262931;
    width: 100%;
    margin-bottom: 20px;
    }
    
    a.invite_text {
    color: #76c93b;
    font-size: 17px;
    }
    
    .invt_group {
    margin: 25px 0;
    }
    
    button.ref_inv_btn {
    width: 209px;
    height: 52px;
    box-shadow: 0 8px 12px rgba(118, 201, 59, 0.5);
    border-radius: 5px;
    background-color: #76c93b;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    }
    @media only screen and (max-width:767px) {
   
    .table_referral th {
    width: 33%;
    text-align: center;
    padding: 0;
    line-height: normal;
    }
    .table_referral td {
    padding: 10px 5px !important;
    text-align: center;
    }
    a.referral_resend{
        width:100%;
        display:block;
        padding-left : 0; 
    }
    }

    /* Referral page css ends here  */

    /* Payment Upgrade page  */
    .common-wrap {
        background: #2a2a2a;
        color: var(--wht-color);
        text-align: center;
        border-radius: 10px;
        padding: 30px 0;
        margin: 50px auto;
    }
    .head-blk{
        position: relative;
        margin-bottom: 15px;
    }
    .head-blk:after{
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 150px;
        height: 1px;
        content: '';
        z-index: 99999;
        transform: translateX(-50%);
        background: var(--wht-color);
    }
    .head-blk .ttl{
        font-size: 2.6rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .head-blk .sb-ttl{
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 15px;
    }
    .content-blk{
        margin-bottom: 50px;
        font-size: 2rem;
    }
    .content-blk p{
        margin-bottom: 30px;
    }
    .button{
        width: 209px;
        padding: 1rem 0;
        text-align: center;
        display: inline-block;
        box-shadow: 0 0.8rem 1.2rem rgba(118, 201, 59, 0.5);
        border-radius: .5rem;
        background-color: #76c93b;
        color: #fff !important;
        text-transform: uppercase;
        border:0;
    }
    .after-non:after{
        display: none;
    }
    .or{
        position: relative;
        margin: 20px auto;
        max-width: 170px;
        font-size: 32px;
    }
    .or:before,.or:after{
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        background: var(--wht-color);
        top: 50%;
        transform: translateX(-50%);
    }
    .or:before{
        left: 25px;
    }
    .or:after{
        right: -25px;
    }
    .upgrade .ttl {
        font-size: 20px;
        font-weight: 500;
    }
    .upgrade .coupon{
        margin: 20px auto;
        max-width: 355px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

    }
    .upgrade .coupon input{
        height: 52px;
        border-radius: 5px;
        opacity: 0.65;
        padding: 0 15px;
        border: 0;
        margin: 0 auto;
        width:100%
        
    }
    .upgrade .coupon input::placeholder{
        opacity: 0.35;
        font-size: 22px;
    }

    .upgrade .coupon .couponApply {
        position: absolute;
        top: 0;
        right: 0;
        height: 52px;
        padding: 0px 20px;
        border: 0;
        background: #76c93b;
        color: #fff;
        letter-spacing: 1.5px;
        }

        div.applied{
            margin-bottom:20px;
        }

      /* payment upgrade page end here  */

      /* Analytics Page Css Starts Here  */
      .analatics .top-card{
        position: relative;
        background: #fff;
        border-radius: 0;
        padding: 20px;
        margin-bottom: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 20px;
    }
    .analatics .top-card select {
        width: 100%;
        padding: 5px 35px 5px 5px;
        font-size: 20px;
        border: 0;
        height: 34px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../img/drop-arrow.png) center right 10px no-repeat transparent;
    }
    .analatics .top-card select:focus{
        outline: 0;
    }
        /* CAUTION: Internet Explorer hackery ahead */
    .analatics .top-card  select::-ms-expand {
        display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }
    /* .top-card .right{} */
    .analatics .healine{font-size: 24px;}
    .analatics .hd-number{float: right; font-size: 24px; font-family: sf-sb;}
    .analatics .p10{padding: 10px 15px !important;}
    .analatics .wraper{margin: 20px auto 60px auto;}
    .analatics .wraper .title{margin-bottom: 15px; margin-top: 15px;}
    .analatics .p-left0{padding-left: 0;}
    .analatics .p-right0{padding-right: 0;}
    /* Analytics Page css ends here  */

    /* Answer Key CSS  */
    .border-red{
        border-color:red;
    }
    .border-green{
        border-color:green;
    }
    .border-grey{
        border-color:#986f6f;
    }
    .analatics {
        margin-top: 50px;
    }
    .analysis-table {
        width: 100%;
        }
        .analysis-table td {
        padding: 5px 10px;
        }
        .analysis-table td:nth-child(even){
        text-align:right
        }

        .green-dot {
            width: 10px;
            height: 10px;
            float: left;
            margin-right: 5px;
            background: green;
            margin-top: 6px;
        }

        .red-dot {
            width: 10px;
            height: 10px;
            float: left;
            margin-right: 5px;
            background: red;
            margin-top: 6px;
        }

        .grey-dot {
            width: 10px;
            height: 10px;
            float: left;
            margin-right: 5px;
            background: grey;
            margin-top: 6px;
        }


        ul.answerkey-denote {
            float: left;
            margin: 0 0 20px 0;
            padding: 0;
            }
            
            ul.answerkey-denote li {
            list-style: none;
            float: left;
            margin-right: 40px;
            }
            
            ul.answerkey-denote li strong {
            font-size: 24px;
            display:block;
            }
            ul.answerkey-denote li span{
            font-size:18px
            }

            .dot-div {
                font-size: 18px;
                color: #999;
                }
                
                .dot-div .green-dot {
                margin-top: 10px;
                }
                .graph canvas{
                    padding-left: 20px;
                }



                /* Responsive css  */
                @media (max-width:767px){
                    .container{max-width: 100% !important;}
                    body{overflow-x: hidden;}
                    .wraper{padding: 40px 10px; box-shadow: none; margin: 0px auto;}
                    .wraper .table-wrap .table .table-row{display: block; margin-bottom: 20px;}
                    .wraper .table-wrap .table .table-row .table-cell{border: 1px solid #efefef; display: block;}
                    a.start-btn{margin: 0;}
                    .wraper .card ul.subjects{margin: 15px;}
                    .wraper .table-wrap-big .table .table-row {display: block; margin: 10px 10px 20px 10px; border: 1px solid #efefef; background: #fff;}
                    .wraper .table-wrap-big .table .table-row .table-cell {display: block; border: 0; padding: 15px; border-bottom: 1px solid #efefef;}
                    .wraper .table-wrap-big .table .table-row:nth-child(6) .table-cell {border-bottom: 1px solid #ccc !important;}
                    .wraper .table-wrap-big .table .table-row .table-cell.text-right {text-align: left !important;}
                    .filter ul li{margin: 10px 10px 10px 20px;}
                    .wraper .table-wrap .table .table-row .table-cell.text-right {text-align: left !important;}
                    .wraper .card.mb40{margin-bottom: 20px;}
                    .wraper .card .test{margin: 10px 0 0 0;}
                    .bor-rt{border-right: 0;}
                    .wraper{padding: 20px 10px;}
                    .result .row .col-md-8,.result .row .col-md-4 {display: flex; flex-wrap: wrap;}
                    .result .row .col-md-4 {order: 1;}
                    .result .row .col-md-8 {order: 2;}
                    .result-title.invisible{display: none;}
                    .action .left ul li {padding: 10px; margin-right: 20px; font-size: 14px; margin-bottom: 10px;}
                    .action .left ul li:last-child {margin-right: 0;}
                    .action .right { float: left;}
                    .ans ul li{padding: 20px 15px;}
                    }
                    /* responsive css */


td{
    border:0 !important;
}
span.badge {
        background: #e0e0e0;
        border-radius: 100px;
        width: 26px;
        height: 26px;
        align-items: center;
        flex-wrap: wrap;
        left: 2px;
        position: absolute;
        top: 2px;
        text-align: center;
        display: inline-grid;
        color:blue;
}
span.correct{
    background-color: #57ed7f;
}
span.not_answered{
    background-color: #e29595;
}
span.markreview{
    background-color: #a1aff7;
}
span.answeredandreview{
    background-image: linear-gradient(#57ed7f 50%, #a1aff7 51%);
}

.flutterWhite{
    display:none; 
}

/* by rakeshwer */
.qz-timer {
    margin-bottom: 20px;
    }
.fixposition {
position: -webkit-sticky;
position: sticky;
top: 0;
box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
background: #fff;
padding: 30px 0px;
}


