:root{
    --primary-color:#6bc334;
    --secoundry-color:#414141;
    --lt-grey:#a0a0a0;
    --black-color:#010101;
    --wht-color :#fff;
}
@font-face {
    font-family: sf-ult;
    src: url("../font/SFProDisplay-Ultralight.woff");
}
@font-face {
    font-family: sf-lt;
    src: url("../font/SFProDisplay-Light.woff");
}
@font-face {
    font-family: sf-md;
    src: url("../font/SFProDisplay-Medium.woff");
}
@font-face {
    font-family: sf-rg;
    src: url("../font/SFProDisplay-Regular.woff");
}
@font-face {
    font-family: sf-sb;
    src: url("../font/SFProDisplay-Semibold.woff");
}
@font-face {
    font-family: sf-bd;
    src: url("../font/SFProDisplay-Bold.woff");
}

body{position: relative; font-family: sf-lt !important; color: var(--secoundry-color); font-size: 16px; background-color: #f7f7f7;}
a, button { transition: all 0.3s;}
a:hover{text-decoration: none;}
/* .container{max-width: 1170px;} */

header{border-bottom: 1px solid #ccc;}
header nav {margin-bottom: 40px;}
header nav a{font-family: sf-rg; letter-spacing: 0.18px; text-transform: uppercase; color:var(--seoundry-color);}
header nav .nav-item.active a,header nav .nav-item:hover a{color: var(--primary-color) !important;}

header .banner-txt-block{text-align: right;}
header .banner-txt-block .title {font-size: 58px; font-weight: 700; margin-top: 50px; font-family: sf-bd; color: var(--secoundry-color); line-height: 70px; margin-bottom: 60px;}
header .banner-txt-block .sbtitle{margin-bottom: 50px; font-size: 26px; max-width: 370px; display: inline-block;}
header .banner-txt-block .action a{display: inline-block; background: var(--primary-color); min-width: 200px; padding: 5px 10px; text-align: center; text-transform: uppercase; color: var(--wht-color); font-size: 18px;
    font-weight: 500; letter-spacing: 1.8px; font-family: sf-rg;}


    
.features{padding: 80px 0;}
.features .feature-content{display: block; padding-right: 80px;}
.features .feature-content .title{font-size: 28px; font-weight: 700; line-height: 30px; margin-bottom: 30px;}
.features .feature-content p{font-size: 20px; font-weight: 400;}

.features .feature-card {background: var(--wht-color); padding: 30px; margin-bottom: 30px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); transition: all 0.3s;}
.features .feature-card:hover{box-shadow: 0 10px 20px rgba(229, 212, 41, 0.59);}
.features .feature-card .title{font-size: 16px; font-weight: 400; letter-spacing: 1.6px; text-transform: uppercase; margin-bottom: 25px;}
.features .feature-card ul{}
.features .feature-card ul li{font-size: 16px; list-style: none; font-weight: 400; line-height: 40px; color: #868686;}
.features .action{max-width: 250px; margin: 0 auto; text-align: center;}
.features .action a{background: var(--primary-color); color: var(--wht-color); display: block; padding: 10px; text-transform: uppercase;}


.numbers{padding: 70px 0 50px 0; color: var(--wht-color); background-image: linear-gradient(105deg, #6bc334 0%, #e5d429 100%);}
.numbers .numbers-content {padding-right: 80px;}
.numbers .numbers-content .title{font-size: 28px; font-family: sf-bd; line-height: 34px; margin-bottom: 30px;}
.numbers .numbers-content p{font-size: 20px;}
.numbers ul.cont {    margin: 0;    padding: 0;}
.numbers ul.cont li {    list-style: none;    float: left;    width: 25%;    text-align: center;    border-right: 1px solid #fff;    padding: 30px;}
.numbers ul.cont li .num {font-size: 52px; font-family: sf-md; display: block; line-height: 1;}
.numbers ul.cont li .txt {font-size: 32px; font-family: sf-ult; display: block; line-height: 1;}
.numbers ul.cont li:nth-child(4),.numbers ul.cont li:nth-child(8) {border-right: 0;}
.numbers ul.cont li:nth-child(n+5){border-top:1px solid #fff}


/* testimonial */
.testimonial{padding: 50px 0;}
.testimonial .col-md-8, .testimonial .col-md-4 {display: flex;align-items: center;}
.testimonial .testimonial-content{padding-left: 60px; padding-top: 50px; position: relative; font-size: 24px; line-height: 30px; max-width: 540px;}
.testimonial .testimonial-content:before{background: url(../img/testi-quote-bg.png) no-repeat; content: ''; position: absolute; left: 30px; top: 30px; width: 68px; height: 57px;}
.testimonial .testimonial-content .name{margin-top: 20px; display: block;}
.testimonial .carousel-indicators li {text-indent: 0; background: transparent;}
.testimonial .carousel-indicators {padding: 0; margin: 0; left: 60px; text-align: left; position: absolute; right: inherit; bottom: 30px;}
.testimonial .carousel-indicators li.active svg path {fill: var(--primary-color);}


/* Footer */
footer{background:#efefef; text-align: center; margin: 0; padding: 20px 0; color: var(--secoundry-color);}



/* Modal */
.modal.show {background-image: linear-gradient(123deg, #6bc334 0%, #e5d429 100%);}
.modal.show button.close {position: absolute; top: 30px; right: 8%; background: var(--wht-color); opacity: 1;
    border-radius: 100px; width: 30px; height: 30px; line-height: 1;}

/*For modal change here */

/* #login .container,#signup .container,#reset .container{padding:100px 0 0px 0;}
#login .login-pic,#signup .login-pic,#reset .login-pic{margin-top: 30px;}
#login .login-section,#signup .login-section, #reset .login-section{background: var(--wht-color); padding: 30px 40px;}
#login .login-section .title,#signup .login-section .title, #reset .login-section .title{font-size: 28px; margin-bottom: 30px;}
#login .login-section .form-control,#signup .login-section .form-control, #reset .login-section .form-control{border-radius: 0;background-color: #e0e0e0;height: 55px;}
#login .login-section input[type="submit"],#signup .login-section input[type="submit"], #reset .login-section input[type="submit"]{background: var(--primary-color); color: var(--wht-color); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29); font-size: 15px; letter-spacing: 3px; line-height: 25px; text-transform: uppercase; margin-bottom: 10px;}
#login .login-section label.forgot,#signup .login-section label.forgot, #reset .login-section label.forgot{font-size: 14px;}
#login .login-section label.forgot a,#signup .login-section label.forgot a, #reset .login-section label.forgot a{color: var(--primary-color);}
#login .login-section ul.social-login,#signup .login-section ul.social-login, #reset .login-section ul.social-login  {margin: 0; padding: 0;}
#login .login-section ul.social-login li,#signup .login-section ul.social-login li, #reset .login-section ul.social-login li {list-style: none; float: left; margin-right: 10px;}
#login .login-section ul.social-login li:last-child,#signup .login-section ul.social-login li:last-child, #reset .login-section ul.social-login li:last-child {margin-right: 0; }
#login .login-section .signup,#signup .login-section .signup, #reset .login-section .signup {margin-top: 50px; font-size: 14px; clear: both;}
#login .login-section .signup a,#signup .login-section .signup a, #reset .login-section .signup a{color: var(--primary-color);} */

.myModal .container{padding:100px 0 0px 0;}
.myModal .login-pic{margin-top: 30px;}
.myModal .login-section{background: var(--wht-color); padding: 30px 40px;}
.myModal .login-section .title{font-size: 28px; margin-bottom: 30px;}
.myModal .login-section .form-control{border-radius: 0;background-color: #e0e0e0;height: 55px;}
.myModal .login-section input[type="submit"]{background: var(--primary-color); color: var(--wht-color); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29); font-size: 15px; letter-spacing: 3px; line-height: 25px; text-transform: uppercase; margin-bottom: 10px;}
.myModal .login-section label.forgot{font-size: 14px;}
.myModal .login-section label.forgot a{color: var(--primary-color);}
.myModal .login-section ul.social-login {margin: 0; padding: 0;}
.myModal .login-section ul.social-login li{list-style: none; float: left; margin-right: 10px;}
.myModal .login-section ul.social-login li:last-child{margin-right: 0; }
.myModal .login-section .signup{margin-top: 50px; font-size: 14px; clear: both;}
.myModal .login-section .signup a{color: var(--primary-color);}

.error { color :red;}
.success{ color : green;}
.hidden{display: none;}
